<header class="page-header site-header" role="banner">
  <div class="wrapper">
    <!-- Titolo principale -->
    <h1 class="project-name">
      Alpaca Data
    </h1>

    <!-- Sottotitolo / tagline -->
    <h2 class="project-tagline">
      Welcome to my Blog, portfolio! We'll talk about AI, Business Intelligence and Analytics
    </h2>

    <!-- Bottoni di navigazione -->
    <div class="header-buttons">
      <a href="{{ '/progetti/' | relative_url }}" class="btn">Progetti</a>
      <a href="{{ '/tutorial/' | relative_url }}" class="btn">Tutorial</a>
      <a href="{{ '/blog/' | relative_url }}" class="btn">Blog</a>

    </div>
  </div>
</header>